<p-panel #pnl [style]="{'margin-bottom':'10px'}">
  <p-header>
    Quản lý series bài viết
  </p-header>
  <div class="row">
    <div class="col-6">
      <button appPermission appPolicy="Permissons.Series.Create" pButton type="button" label="Thêm" icon="fa fa-plus"
        (click)="showAddModal()" class="p-button-sm ms-1 p-button-info"></button>
      <button appPermission appPolicy="Permissons.Series.Delete" pButton type="button" label="Xóa" icon="fa fa-trash"
        class="p-button-sm p-button-danger ms-1" *ngIf="selectedItems.length > 0" (click)="deleteItems()"></button>
      <button appPermission appPolicy="Permissons.Series.Edit" pButton type="button" label="Sửa" icon="fa fa-edit"
        class="p-button-sm ms-1 p-button-help" *ngIf="selectedItems.length== 1" (click)="showEditModal()"></button>
        <button appPermission appPolicy="Permissons.Series.Edit" pButton type="button" label="Bài viết" icon="fa fa-edit"
        class="p-button-sm ms-1 p-button-info" *ngIf="selectedItems.length== 1" (click)="showPosts()"></button>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col">
          <input id="txtKeyword" pInputText (keyup.enter)="loadData()" [(ngModel)]="keyword"
            placeholder="Nhập từ khóa..." type="text">
        </div>
        <div class="col">
          <button type="button" pButton (click)="loadData()">Tìm</button>
        </div>
      </div>

    </div>
  </div>
  <div class="row mt-3">
    <p-table #dt [value]="items" selectionMode="multiple" dataKey="id" [(selection)]="selectedItems"
      [metaKeySelection]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10px">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Tiêu đề</th>
          <th>URL</th>
          <th>Thứ tự</th>
          <th style="width: 150px">Trạng thái</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
          <td style="width: 10px"><span class="ui-column-title"></span>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <td>{{row.name}}</td>
          <td>{{row.slug}}</td>
          <td>{{row.displayOrder | number}}</td>
          <td style="width: 150px">
            <p-badge *ngIf="row.isActive == 1" value="Kích hoạt" severity="success"></p-badge>
            <p-badge *ngIf="row.isActive == 0" value="Khoá" severity="danger"></p-badge>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align: left">
          Tổng số: {{totalCount | number}}
        </div>
      </ng-template>
    </p-table>
  </div>
  <p-paginator [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="pageChanged($event)"
    [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>

  <p-blockUI [target]="pnl" [blocked]="blockedPanel">
    <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}"
      strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
</p-panel>